body {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

* {
    font-family: MiSans
}

:root {
    --mdui-color-background-light: 247, 247, 247;
    --mdui-color-surface-light: 247, 247, 247;
    --mdui-color-primary-light: 52, 130, 255;
}

mdui-top-app-bar {
    background-color: rgba(247, 247, 247, 0.1);
    backdrop-filter: blur(50px);
}

.top-button {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    margin: 0 5px 0 5px;
}

mdui-top-app-bar-title {
    padding-left: 10px;
}

.homecard {
    margin: 0 10px 10px 10px;
    border-radius: 16px;
    background-color: #ffffff;
    background-image: url('https://cia.hyperos.mi.com/hyperos2-homepage/opening_pc_temp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.homecard-main {
    width: 100%;
}

.homecard-description {
    padding: 32px;
}

.homecard-description h1 {
    margin: 0;
    line-height: 1;
}

.homecard-top-title {
    font-size: 14px;
}

.card-detail {
    height: fit-content;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
}

.version-card-detail {
    height: fit-content;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    align-items: center;
}

.card-detail img {
    width: 52px;
    margin: 12px;
}

.card-detail-text h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

.card-detail-text p {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    color: #929292;
}

.card-detail-button {
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 24px;
}

.card-detail-button mdui-button {
    margin: 5px;
    padding: 0;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
}

.version-card-detail-button {
    position: absolute;
    display: flex;
    right: 0;
    margin-right: 24px;
}

.version-card-detail-button mdui-button {
    margin: 5px;
    padding: 0;
    height: 32px;
    background-color: #2655FF;
    backdrop-filter: blur(50px);
}

.devices-version-card-detail-button {
    margin-left: 3.0rem
}

.devices-version-card-detail-button mdui-button {
    margin: 5px;    
    padding: 0;
    height: 32px;
    background-color: #2655FF;
    backdrop-filter: blur(50px);
}

.card-detail-button-1 {
    width: 80px;
}

.card-detail-button-2 {
    width: 50px;
}

.old-os-link-card {
    margin: 10px;
    border-radius: 16px;
    background-color: #ffffff;
    background-image: url('https://cia.hyperos.mi.com/hyperos-homepage/idx_pc.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    color: #ffffff;
    overflow: hidden;
}

.mdui-prose {
    margin: 10px;
    padding: 30px;
    border-radius: 16px;
    background-color: #ffffff;
}

.subtitle {
    color: #636363;
    font-weight: bold;
}

.mdui-prose .plan-title1 {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}

.mdui-prose .plan-title2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 1;
}

.mdui-prose .plan-device {
    color: #2655FF;
    font-weight: 550;
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 2em;
    line-height: 1;
}

.mdui-prose .plan-version {
    margin-top: 16px;
    margin-bottom: 1;
    font-size: 1.5em;
    line-height: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    margin: 0;
}

.developer {
    margin: 10px;
}

.simple-title {
    margin-left: 36px;
    height: 10px;
}

.developer-main {
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0;
    height: fit-content;
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    margin: 16px 64px 0px 100px;
    justify-content: center;
    align-items: center;
}

mdui-collapse {
    background-color: #F9F9F9;
    border-radius: 15px;
}

.get-os-firmware-card {
    margin: 10px;
    border-radius: 16px;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(150deg, rgb(252, 233, 230) 0%, rgb(222, 228, 255) 100%);
    height: 180px;
    overflow: hidden;
}

.get-os-firmware-card .homecard-description {
    color: rgba(0, 0, 0);
}